{% extends "AppBundle::layout.html.twig" %}

{% block page_wrapper %}

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" data-pause="none">
        <div id="innerCarousel" style="position: absolute; bottom: 0px; width: 100%; height: 100%;">
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('http://www.rando-loiret.com/wp-content/uploads/2013/11/randonnée-pedestre.jpg');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('http://matthieudefolleville.fr/wp-content/uploads/2015/01/chaussures-randonnee.jpg');"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('http://www.savoie-mont-blanc.com/var/smb/storage/images/media/images/activites-et-detente/rando/randonnee-au-milieu-des-champs-avec-vue-sur-les-aiguilles-d-arves-la-basse-du-gerbier/14919-6-fre-FR/Randonnee-au-milieu-des-champs-avec-vue-sur-les-Aiguilles-d-Arves-La-basse-du-Gerbier.jpg');"></div>
                </div>
            </div>

            <div class="caption-header">
                <h1 style="font-size: 55px;">Les Débousolés</h1>
                <h2>Club de randonnée pédestre</h2>
            </div>
            <a class="btn btn-scroll-light sink" href="#container" style="position: absolute; top: 50%;left: 50%; margin-left: -27px;">
                <i class="fa fa-angle-double-down"></i>
            </a>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <div id="container" class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenue sur le site des Débousolés
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-user-secret"></i> Qui sommes nous ?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="404.html" class="btn btn-default">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-rocket"></i> Lorem ipsum</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="404.html" class="btn btn-default">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Comment nous rejoindre ?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="404.html" class="btn btn-default">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">La prochaine randonnée</h2>
            </div>
            <div class="col-md-6">
                <h3>Lussan <br><small>Des Concluses à la Pierre plantée</small></h3>
                <p>Dimanche 17 Mai 2015</p>
                <ul>
                    <li><strong>Longueur : </strong>16 km</li>
                    <li><strong>Durée estimée : </strong>4h 30</li>
                    <li><strong>Dénivelé cumulé : </strong>490 métres </li>
                    <li><strong>Difficulté : </strong>Quelques passages rocheux </li>
                    <li><strong>Départ  : </strong>Place Charles de Gaulle à 8hrs 30</li>
                </ul>
                <p>
                    A 93 km du Crès, une balade au départ du village de Lussan (503 habitants), situé au nord d’Uzès Magnifique village médiéval aux ruelles étroites, perché sur un piton. On peut y voir les vestiges de trois châteaux dont l’un abrite la Mairie.<br>
                    Le village est entouré de remparts dont le chemin de ronde offre un beau panorama sur le Mont Ventoux,les Cévennes et le Mont Bouquet.
                </p>
                <a href="404.html" class="btn btn-default">En savoir plus</a>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://www.rodaires.com/saison1415/rando/rando16/Concluse.jpg" alt="" style="margin-top: 20px">
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row portfolio">
            <div class="col-lg-12">
                <h2 class="page-header">Nos dernières randonnées</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="404.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.rodaires.com/saison1415/rando/rando01/images/ph11.jpg" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                <i class="fa fa-search fa-2x"></i>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="404.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.rodaires.com/saison1415/rando/rando01/images/ph17.jpg" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                <i class="fa fa-search fa-2x"></i>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="404.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.rodaires.com/saison1415/rando/rando10/images/ph13.jpg" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                <i class="fa fa-search fa-2x"></i>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="404.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.rodaires.com/saison1415/rando/rando08/images/ph11.jpg" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                <i class="fa fa-search fa-2x"></i>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="404.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.rodaires.com/saison1415/rando/rando12/images/ph7.jpg" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                <i class="fa fa-search fa-2x"></i>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="404.html"><!-- portfolio-item.html -->
                    <img class="img-responsive img-portfolio img-hover" src="http://www.rodaires.com/saison1415/rando/rando14b/images/ph9.jpg" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>
                                <i class="fa fa-search fa-2x"></i>
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Les rodaïres, Valentin Boschatel 2015</p>
                </div>
            </div>
        </footer>

    </div>
    
    <style>
        body {
            padding-top: 0px;
        }
    </style>
    <!-- /.container -->
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })

        $( window ).scroll(function() {
            if($( window ).scrollTop() != 0)
                $("nav.navbar-inverse").css('backgroundColor','rgba(34, 34, 34, 1)');
            else
                $("nav.navbar-inverse").css('backgroundColor','rgba(34, 34, 34, 0.6)');
            
            $("#innerCarousel").css('height',(100-$( window ).scrollTop()/15)+"%");
        });


        $(".sink").click(function(){
            var the_id = $(this).attr("href");

            $('html, body').animate({
                    scrollTop:$(the_id).offset().top-50
            }, 1500);
            return false;
        });
    </script>
{% endblock %}
