{% extends "::layout.html.twig" %}

{% block page_container %}
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Les prochaines randonnées <a href="{{ path('_calendar') }}" class="btn btn-primary pull-right"><span class="fa fa-calendar"></span> Le calendrier</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://www.rodaires.com/saison1415/rando/rando16/Concluse.jpg" alt="" style="margin-top: 20px">
        </div>
        <div class="col-md-6">
            <h1>Lussan <br><small>Des Concluses à la Pierre plantée</small></h1>
            <p>Dimanche 17 Mai 2015</p>
            <ul>
                <li><strong>Longueur : </strong>16 km</li>
                <li><strong>Durée estimée : </strong>4h 30</li>
                <li><strong>Dénivelé cumulé : </strong>490 métres </li>
                <li><strong>Difficulté : </strong>Quelques passages rocheux </li>
                <li><strong>Départ  : </strong>Place Charles de Gaulle à 8hrs 30</li>
            </ul>
            <p>
                A 93 km du Crès, une balade au départ du village de Lussan (503 habitants), situé au nord d’Uzès Magnifique village médiéval aux ruelles étroites, perché sur un piton. On peut y voir les vestiges de trois châteaux dont l’un abrite la Mairie.<br>
                Le village est entouré de remparts dont le chemin de ronde offre un beau panorama sur le Mont Ventoux,les Cévennes et le Mont Bouquet.
            </p>
            <a href="404.html" class="btn btn-primary">En savoir plus</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://www.rodaires.com/saison1415/rando/rando16/Concluse.jpg" alt="" style="margin-top: 20px">
        </div>
        <div class="col-md-6">
            <h1>Lussan <br><small>Des Concluses à la Pierre plantée</small></h1>
            <p>Dimanche 17 Mai 2015</p>
            <ul>
                <li><strong>Longueur : </strong>16 km</li>
                <li><strong>Durée estimée : </strong>4h 30</li>
                <li><strong>Dénivelé cumulé : </strong>490 métres </li>
                <li><strong>Difficulté : </strong>Quelques passages rocheux </li>
                <li><strong>Départ  : </strong>Place Charles de Gaulle à 8hrs 30</li>
            </ul>
            <p>
                A 93 km du Crès, une balade au départ du village de Lussan (503 habitants), situé au nord d’Uzès Magnifique village médiéval aux ruelles étroites, perché sur un piton. On peut y voir les vestiges de trois châteaux dont l’un abrite la Mairie.<br>
                Le village est entouré de remparts dont le chemin de ronde offre un beau panorama sur le Mont Ventoux,les Cévennes et le Mont Bouquet.
            </p>
            <a href="404.html" class="btn btn-primary">En savoir plus</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://www.rodaires.com/saison1415/rando/rando16/Concluse.jpg" alt="" style="margin-top: 20px">
        </div>
        <div class="col-md-6">
            <h1>Lussan <br><small>Des Concluses à la Pierre plantée</small></h1>
            <p>Dimanche 17 Mai 2015</p>
            <ul>
                <li><strong>Longueur : </strong>16 km</li>
                <li><strong>Durée estimée : </strong>4h 30</li>
                <li><strong>Dénivelé cumulé : </strong>490 métres </li>
                <li><strong>Difficulté : </strong>Quelques passages rocheux </li>
                <li><strong>Départ  : </strong>Place Charles de Gaulle à 8hrs 30</li>
            </ul>
            <p>
                A 93 km du Crès, une balade au départ du village de Lussan (503 habitants), situé au nord d’Uzès Magnifique village médiéval aux ruelles étroites, perché sur un piton. On peut y voir les vestiges de trois châteaux dont l’un abrite la Mairie.<br>
                Le village est entouré de remparts dont le chemin de ronde offre un beau panorama sur le Mont Ventoux,les Cévennes et le Mont Bouquet.
            </p>
            <a href="404.html" class="btn btn-primary">En savoir plus</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://www.rodaires.com/saison1415/rando/rando16/Concluse.jpg" alt="" style="margin-top: 20px">
        </div>
        <div class="col-md-6">
            <h1>Lussan <br><small>Des Concluses à la Pierre plantée</small></h1>
            <p>Dimanche 17 Mai 2015</p>
            <ul>
                <li><strong>Longueur : </strong>16 km</li>
                <li><strong>Durée estimée : </strong>4h 30</li>
                <li><strong>Dénivelé cumulé : </strong>490 métres </li>
                <li><strong>Difficulté : </strong>Quelques passages rocheux </li>
                <li><strong>Départ  : </strong>Place Charles de Gaulle à 8hrs 30</li>
            </ul>
            <p>
                A 93 km du Crès, une balade au départ du village de Lussan (503 habitants), situé au nord d’Uzès Magnifique village médiéval aux ruelles étroites, perché sur un piton. On peut y voir les vestiges de trois châteaux dont l’un abrite la Mairie.<br>
                Le village est entouré de remparts dont le chemin de ronde offre un beau panorama sur le Mont Ventoux,les Cévennes et le Mont Bouquet.
            </p>
            <a href="404.html" class="btn btn-primary">En savoir plus</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="{{ path('_calendar') }}" class="btn btn-primary btn-lg"><span class="fa fa-calendar"></span> Le calendrier</a>
        </div>
    </div>
    
{% endblock %}
